---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Main from "../components/Main.astro";
import TagCloud from "../components/TagCloud.astro";
import My from "../components/My.astro";
import "../styles/post.less";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>
  <script is:inline>
    if (localStorage.getItem("theme") === null) {
      document.documentElement.setAttribute("data-theme", "light");
    } else
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme")
      );
  </script>

  <body>
    <Header />
    <Main>
      <div class="container post-container mx-auto pt-[120px]">
        <div class="flex">
          <!-- 左侧信息 -->
          <div class="w-2/6">
            <My />
            <div class="mt-6">
              <TagCloud />
            </div>
          </div>
          <!-- 右侧列表或者内容 -->
          <div class="w-4/6 ml-4 mb-8">
            <article>
              <div class="card  bg-color shadow-xl">
              
                <div class="card-body items-center">
                  <div class="prose">
                    <div class="title">
                      <div class="date">
                        <FormattedDate date={pubDate} />
                        {
                          updatedDate && (
                            <div class="last-updated-on">
                              Last updated on{" "}
                              <FormattedDate date={updatedDate} />
                            </div>
                          )
                        }
                      </div>
                      <h1 class="title">{title}</h1>
                      <hr />
                    </div>
                    <div>
                      <slot />
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </Main>
  </body>
</html>
